* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --box-width: 200px;
    --row-height: 150px;
}
html,
body {
    height: 100%;
}
body {
    padding: 0.5rem;
}
.container {
    position: relative;
    margin: 0px auto;
    box-sizing: border-box;
    width: 100%;
    max-width: 500px;
    height: 100%;
    border: 1px solid black;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
}
.img-row {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 0px;
    opacity: 0;
    transition: all 100ms ease-in-out;
    margin: 0.5rem 0rem;
}

.img-col {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0px 0.5rem;
    height: var(--row-height);
}
.img-col .image-wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    width: 100%;
    max-width: var(--box-width);
    border: 2px solid red;
    margin-bottom: 0.5rem;
}

.active {
    height: var(--row-height);
    opacity: 1;
}
.de-active {
    opacity: 0;
    pointer-events: none;
}
/* rating */
.rating {
    width: 100%;
    max-width: var(--box-width);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
i.star {
    margin: 0.2rem;
    border-color: none;
    box-shadow: none;
    border: none;
    outline: none;
    user-select: none;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    height: 1.5rem;
    width: 1.5rem;
}
.star.regular {
    background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='far' data-icon='star' class='svg-inline--fa fa-star fa-w-18' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512'%3E%3Cpath fill='%23dabd18b2' d='M528.1 171.5L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6zM388.6 312.3l23.7 138.4L288 385.4l-124.3 65.3 23.7-138.4-100.6-98 139-20.2 62.2-126 62.2 126 139 20.2-100.6 98z'%3E%3C/path%3E%3C/svg%3E");
}
.star.solid {
    background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='star' class='svg-inline--fa fa-star fa-w-18' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512'%3E%3Cpath fill='%23dabd18b2' d='M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z'%3E%3C/path%3E%3C/svg%3E");
}
.rating__star {
    font-size: 1rem;
    cursor: pointer;
    color: #dabd18b2;
    transition: filter linear 0.3s;
}

.rating__star:hover {
    filter: drop-shadow(1px 1px 4px gold);
}

.start-para {
    position: absolute;
    bottom: 0.5rem;
    left: 0.5rem;
    transition: all 0.1s ease-in-out;
}
.game-end-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(241, 239, 239);
    user-select: none;
    pointer-events: none;
}
.game-end {
    font-size: 2rem;
    font-weight: bold;
}
